<%- @title = @page.plain_name + " (history)".html_safe -%>
<%- @show_footer = true -%>

<%- @revisions_by_day.keys.sort.reverse.each do |day| -%>
  <h3><%= format_date(day, include_time = false) %></h3>
  <ul>
  <%- for rev in @revisions_by_day[day] -%>
    <li>
      <%= link_to_revision(rev.page, @revision_numbers[rev.id],
          text= (rev.page.revisions.size == @revision_numbers[rev.id] ?
              "Current" :
              "Revision #{@revision_numbers[rev.id]}" )
              ) %>
      <%- if @revision_numbers[rev.id] > 1 -%>
          <span class="hist_views">
          (<%= link_to_revision(rev.page, @revision_numbers[rev.id],
              text="diff", mode='diff') %>)
          </span>
      <%- end -%>
      <div class="byline" style="margin-bottom: 0px">
        by <%= link_to_page(rev.author) %>
        at <%= format_date(rev.revised_at) %>
        <%= "from #{rev.author.ip}" if rev.author.respond_to?(:ip) %>
      </div>
    </li>
  <%- end -%>
  </ul>
<%- end -%>
