<%- @title = "Wiki webs" -%>

<ul>
<%- @webs.each do |web| -%>
  
<li>
 <%- if web.password -%>
  <div class="web_protected">
 <%- else -%>
  <div class="web_normal">
 <%- end -%>
    <%= link_to(web.name, {:web => web.address, :action => 'show', :id => 'HomePage'}) %>
    <%- if web.published? -%>
        (<%= link_to_page 'HomePage', web, 'published version', :mode => 'publish' %>)
    <%- end -%>

    <div class="byline" style="margin-bottom: 0px">
	<%= web.pages.size %> page<% if web.pages.size != 1 %>s<% end %> by <%= web.authors.size %> author<% if web.authors.size != 1 %>s<% end %>
	- Last Update: <%= web.last_page.nil? ? format_date(web.created_at) : format_date(web.last_page.revised_at) %><br/>
	<%- if ! web.last_page.nil? -%> 
        Last Document: <%= link_to_page(web.last_page.name,web) %> 
        <%= web.last_page.revisions? ? "Revised" : "Created" %> by <%= author_link(web.last_page) %> (<%= web.last_page.current_revision.ip %>)
	<%- end -%>
    </div>
  </div>
</li>
<%- end -%>
</ul>
