<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1 plus MathML 2.0 plus SVG 1.1//EN" "http://www.w3.org/2002/04/xhtml-math-svg/xhtml-math-svg-flat.dtd" >
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>
      <%= h("#{@status} #{@status_message}") %>
  </title>

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="robots" content="<%= @robots_metatag_value %>" />
  
  <style type="text/css">
    h1#pageName, .newWikiWord a, a.existingWikiWord, .newWikiWord a:hover, #TextileHelp h3 { 
      color: #<%= @web ? @web.color : "393" %>; 
    }
    <%= Rails.root.join('public', 'stylesheets', 'instiki.css').read if @inline_style %>
  </style>

  <%= stylesheet_link_tag 'instiki', :media => 'all' unless @inline_style %>

  <style type="text/css"><!--/*--><![CDATA[/*><!--*/
    <%= @style_additions %>
    <%= @web ? @web.additional_style : '' %>
  /*]]>*/--></style>
</head>

<body>

<div id="Error-Container">
  <h1>
    <%= h("#{@status} #{@status_message}")  %>
  </h1>

<div id="Error-Content">
<%= if :raw
      @content_for_layout
    else
      h @content_for_layout
    end %>

</div> <!-- Error-Content -->

</div> <!-- Error-Container -->

</body>
</html>
